@import '../../css-config/mixin.scss';
.contact{
    width: 100%;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 50px;
    @include lg{
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .contactinfo{
        width: 70%;
        margin: 0 auto;
        @include lg{
            width: 53%;
        }
        span{
            color: blue;
            font-size: 13pt;
            font-weight: 700;
        }
        h2{
            margin-top: 15px;
        }
        .indi{
            position: absolute;
            margin-top: 8px;
            margin-left: 5px;
            color: #f9b90a;
            font-size: 18pt;
        }
        .methods{
            width: 80%;
            margin: 0 auto;
            margin-top: 25px;
            display: flex;
            gap: 30px;
            flex-direction: column;
            @include lg{
                gap: 300px;
            }
            @include lg{
                flex-direction: row;
            }
            .row{
                .ll{
                    position: absolute;
                    margin-top: 5px;
                    margin-left: -30px;
                    font-size: 22pt;
                    color: #0060CD;
                    @include lg{
                        margin-left: -60px;
                        margin-top: 10px;
                    }
                }
                .detail{
                    margin-left: 10px;
                    @include lg{
                        margin-left: 0;
                    }
                    .bold{
                        font-weight: 650;
                    }
                }
            }
        }
    }
}